<!-- Config file for the game -->

<config>
  <app>
    <title>Game Development Testbed</title>
    <organization>UPC</organization>
  </app>
	
  <renderer>
    <vsync value="true"/>
  </renderer>

  <window>
    <resolution width="1200" height="960" scale="3"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <file_system>
    <path>data.zip</path>
  </file_system>

  <map>
    <folder>maps/</folder>
  </map>

  <scene>
    <plantportal x="440" y="100"/>
    <iceportal x="1920" y="5"/>
    <normalportal1 x="1455" y="100"/>
    <normalportal2 x="3380" y="165"/>
    <finalportal x="4000" y="100"/>
    <camlimits left="-20" right="4064"/>
    <positionplayerinit x="20" y="226"/>
  </scene>

</config>